body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-image: url(karacsonyHatterkep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#naptar {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-auto-rows: auto 1fr;
    width: 90%;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    border: 2px solid black;
    background-color: green;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    width: 150px;
    height: 150px;
    font-size: 30px;
    border-radius: 10px;
}

.firstFour {
    display: none;
    width: 150px;
    height: 150px;
}

.grid-item:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #naptar {
        display: grid;
        grid-template-columns: repeat(7, 0fr);
        width: 90%;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .firstFour {
        display: block;
    }
}